<div class="container" >
        
    <div class="xuxemon">
        <h1>Pequeño</h1>

        <progress id="file" value="62" max="100"> 32% </progress>
        <img src="../assets/imaganes/apleki.png" alt="" >
        <p>nombre</p>
        <p>tipo</p>

        <select id="acciones" class="acciones">
            <option value="0" disabled selected>Acciones</option>
            <option value="1">Alimentar</option>
            <option value="2">Curar</option>
            <option value="3">Matar</option>
            <option value="4">Vener</option>
        </select>
        
        
      
      </div>
    </div>