

.xuxemon {
    margin-top:20px;
  margin-left: 50px;
  background-color: bisque;
  width: 200px;
  height: 450px;
  border-radius: 10px;
  content: normal;
  text-align: center;
}

.xuxemon img {
  width: 150px;
  height: 150px;
}
.acciones {
  padding: 10px; /* Añade espacio alrededor del select */
  border: 2px solid blueviolet; /* Añade un borde */
  border-radius: 5px; /* Redondea los bordes */
  background-color: white; /* Color de fondo */
  color: blueviolet; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
  appearance: none; /* Oculta la flecha de desplegar */
  -webkit-appearance: none; /* Para navegadores basados en Webkit */
  -moz-appearance: none; /* Para navegadores basados en Gecko (Firefox) */
}

.acciones option {
  background-color: white; /* Color de fondo */
  color: blueviolet; /* Color del texto */
  font-size: 16px; /* Tamaño de fuente */
}

