<div class="container" >

    <div class="xuxemon">
        <h1>{{xuxemon.tamano}}</h1>

        <progress id="file" value="62" max="100"> 32% </progress>
        <img src="../assets/imaganes/{{ xuxemon.archivo }}" alt="" >
        <p>{{ xuxemon.nombreXuxemon }}</p>
        <p>{{ xuxemon.tipo }}</p>

      <div class="bottones">
        <button (click)="toggleCard()">a</button>
        <div >
          <div   [ngClass]="card">
            <button >Alimentar</button>
            <button >Curar</button>
            <button >Matar</button>
            <button >Vener</button>
          </div>
        </div>
      </div>

    </div>
    </div>
