.fondo {
  background-color: rgb(33, 14, 56);
  width: 100%;
  height: fit-content; /* Ajusta la altura al 100% de la ventana */
  
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* Establece 4 columnas */
  gap: 20px;
  grid-auto-flow: row; /* Cambia el flujo a filas */
}

.navbar {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blueviolet;
  padding: 10px 20px;
  height: 100px;
  width: 100%; /* Ajusta el ancho al 100% */
}

.navbar h1 {
  color: #fff;
  font-size: 24px;
  margin: 0;
}

.nav-item {
  display: flex;
  align-items: center;
}

.nav-item p {
  color: #fff;
  font-size: 18px;
  margin: 0 10px;
}

.nav-item img {
  width: 60px;
  height: 60px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
