<div class="fondo">
    <div class="navbar">
      <h1>XUXEMNOS</h1>
      <div class="nav-item">
        <p>100</p>
        <img src="..\assets\imaganes\coin.png" alt="Icon">
      </div>
    </div>

      <div class="container" >
        
            <div class="xuxemon">
                <h1>Pequeño</h1>
                <progress id="file" value="62" max="100"> 32% </progress>
                <img src="../assets/imaganes/apleki.png" alt="">
                <p>nombre</p>
                <p>tipo</p>
            </div>
      </div>

</div>

       
    
 
