<div class="fondo">
<div class="navbar">
  <h1>XUXEMNOS</h1>
  <div class="nav-item">
    <p>100</p>
    <img src="..\assets\imaganes\coin.png" alt="Icon">
  </div>
</div>

<div class="container">
    <a href="#tienda" class="box">
      <img src="..\assets\imaganes\tienda.png" alt="Tienda">
      <div class="overlay">
        <div class="text">Tienda</div>
      </div>
    </a>
    <a href="#inventario" class="box">
      <img src="..\assets\imaganes\inventario.png" alt="Inventario">
      <div class="overlay">
        <div class="text">Inventario</div>
      </div>
    </a>
    <a href="#coleccion" class="box">
      <img src="..\assets\imaganes\coleccion.png" alt="Colección">
      <div class="overlay">
        <div class="text">Colección</div>
      </div>
    </a>
    <a href="#hospital" class="box">
      <img src="..\assets\imaganes\hospital.png" alt="Hospital">
      <div class="overlay">
        <div class="text">Hospital</div>
      </div>
    </a>
  </div>
  <button (click)="logout()" >Logout</button>
</div>
