<section class="modXuxemon">
  <form [formGroup]="modXuxemonForm">
      <label >ID</label>
      <input type="text"   formControlName="id"   [(ngModel)]="xuxemonMod.id" readonly >

      <label >Nombre</label>
      <input type="text"   formControlName="nombre" [(ngModel)]="xuxemonMod.nombre" >

      <label >Vida</label>
      <input type="number"   formControlName="vida" [(ngModel)]="xuxemonMod.vida" >


      <label >Tipo ID</label>
      <input type="number"   formControlName="tipo_id"  [(ngModel)]="xuxemonMod.tipo_id">

      <label >Archivo</label>
      <input type="text"   formControlName="archivo" [(ngModel)]="xuxemonMod.archivo" >

      <label >Descripción</label>
      <textarea type="text"  formControlName="descripcion" [value]="xuxemonMod.descripcion" ></textarea>

    <button type="submit" class="btn btn-primary" (click)="modXuxemon()" >Submit</button>
    <button routerLink="/.."> Atras</button>
  </form>

</section>
