<div class="dir">
    <form [formGroup]="registerForm"  class="form-container">

        <label >Usuario:</label><br>
        <input type="text" formControlName="nombre_u" placeholder="Nombre de Usuario"><br>
        <label >Nombre:</label><br>
        <input type="text" formControlName="nombre" placeholder="Nombre"><br>
        <label >Apellidos:</label><br>
        <input type="text" formControlName="apellidos" placeholder="Apellidos"><br>
        <label >Correo:</label><br>
        <input type="text" formControlName="mail" placeholder="Correo Electrónico"><br>
        <label >Telefono:</label><br>
        <input type="text" formControlName="telefono" placeholder="Telefono"><br>
        <label  formControlName="password">Contraseña:</label><br>
        <input type="text" placeholder="Ingrese su contraseña"><br>
        <label  formControlName="passwordR">Repetir Contraseña:</label><br>
        <input type="text" placeholder="Ingrese su contraseña"><br>

        <input type="submit"  (click)="onSubmit()" value="Ingresar">

        <hr>

        <a routerLink="/login">Log In</a>

    </form>
</div>
