<div class="navbar">
  <h1>XUXEMNOS</h1>
  <div class="nav-item">
    <p>100</p>
    <img src="..\assets\imaganes\coin.png" alt="Icon">
  </div>
</div>


<div class="fondo">

  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
  <app-objeto-inventario></app-objeto-inventario>
</div>
